@define-color foreground #f8f8f2;
@define-color foreground-inactive #6272a4;
@define-color background #282a36;
@define-color current-line #44475a;
@define-color selection #44475a;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
    font-family: Fira Code, monospace;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @comment;
}

#workspaces button.focused {
    color: @pink;
}

#workspaces button.current_output {
    color: @purple;
}
#workspaces button.active {
    color: @green;
}

#workspaces button.urgent {
    color: @red;
}

#temperature,
#memory,
#custom-platform-profile {
    padding-left: 1em;
    color: @cyan;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#backlight,
#bluetooth,
#tray {
    padding-right: 1em;
    color: @pink;
}

#battery.warning {
    background-color: @background;
    color: #ffaa00;
}

#battery.critical {
    background-color: @background;
    color: #ff4444;
}
